<div class="menu-item">
    <button class="menu-item-header" type="button" [attr.aria-expanded]="isOpen" (click)="toggleAccordion()">
        {{ item.name }}
    </button>
    <section class="menu-item-body" role="region" [hidden]="!isOpen">
        @for(size of sizePrices; track size.sizeId) {
        <div class="row">
            <span>{{ size.enabled }}</span>
            <app-checkbox [ngModel]="size.enabled" (ngModelChange)="onSizeToggled(size.sizeId, $event)">
            </app-checkbox>
            <app-number-input [disabled]="!size.enabled" [ngModel]="size.price"
                (ngModelChange)="onPriceChanged(size.sizeId, $event)">
            </app-number-input>
        </div>
        }
        @if(hasChanges)
        {
        <button type="button" class="undo-button" (click)="undoChanges()">
            Undo
        </button>
        }
    </section>
</div>
