<div class="menu-item" [class.open]="isOpen">
    <button class="menu-item-header" type="button" [attr.aria-expanded]="isOpen"
        [attr.aria-controls]="'panel-' + item.itemId" id="'accordion-button-' + item.itemId" (click)="toggle.emit()">
        <img [src]="isOpen ? 'assets/svgs/arrow-up.svg' : 'assets/svgs/arrow-down.svg'" alt="" width="16" height="16"
            aria-hidden="true" />
        {{ item.name }}
    </button>

    @if (isOpen) {
    <section id="'panel-' + item.itemId" role="region" [attr.aria-labelledby]="'accordion-button-' + item.itemId">
        <div class="price-row">
            @for (size of sizePrices; track size.sizeId) {
            <div class="prices">
                <app-checkbox [ngModel]="size.enabled"
                    (ngModelChange)="onSizeToggled(size.sizeId, $event)"></app-checkbox>
                <span class="size-label">{{ size.name }}</span>
                <app-number-input [disabled]="!size.enabled" [ngModel]="size.price"
                    (ngModelChange)="onPriceChanged(size.sizeId, $event)"></app-number-input>
            </div>
            }
        </div>

        @if (hasChanges) {
        <button type="button" class="undo-button" (click)="undoChanges()">
            <img src="assets/svgs/undo.svg" alt="Undo" class="undo-icon" />
        </button>
        }
    </section>
    }
</div>
