.menu {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .menu {
        max-width: 100%;
        padding: 1rem 0.5rem;
    }
}
